      body {
          background-color: yellow;
      }
      
      h1 {
          font-family: 'Courier New', Courier, monospace;
          text-align: center;
      }
      
      myDiv {
          background-color: aliceblue;
      }
      
      figcaption {
          background-color: green;
          font-style: italic;
          padding: auto;
      }
      
      #title {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          text-transform: uppercase;
      }
      
      .ways {
          color: crimson;
      }
      
      .ul {
          font-family: cursive;
      }
      
      fig {
          align-items: center;
      }